server {
    listen 80;
    server_name {{ domain_name }};
    
    access_log /var/log/nginx/yii2-access.log;
    error_log /var/log/nginx/yii2-error.log;
    
    root /var/www/basic/web;
    index index.php;

    location / {
        # First attempt to serve request as file, then
        # as directory, then fall back to displaying a 404.
        try_files $uri $uri/ /index.php$is_args$args;
    }

    # Deny access to .htaccess files
    location ~ /\.ht {
        deny all;
    }

    # Deny access to php files in the /assets directory
    location ~ ^/assets/.*\.php$ {
        deny all;
    }

    # Pass PHP scripts to Docker Swarm service
    location ~ \.php$ {
        proxy_pass http://tasks.yii2-app_app:9000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }
}
