server {
    charset utf-8;
    client_max_body_size 128M;

    listen 80;
    server_name {{ domain_name }};

    access_log /var/log/nginx/yii2-access.log;
    error_log /var/log/nginx/yii2-error.log;
    
    root {{ www_dir }}/web;
    index index.php;

    location / {
        # Redirect everything that isn't a real file to index.php
        try_files $uri $uri/ /index.php$is_args$args;
    }

    # deny accessing php files for the /assets directory
    location ~ ^/assets/.*\.php$ {
        deny all;
    }

    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        # Connect to the Docker Swarm service using the published port
        fastcgi_pass localhost:9000;
        try_files $uri =404;
    }

    location ~* /\. {
        deny all;
    }
}
